@layer utilities {
    .max-w-content {
        @apply max-w-6xl mx-auto;
    }

    .fade-in {
        animation: fadeIn 0.5s ease-in-out;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}